<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
  <%= image_tag "logo_white.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



    <!-- Text link -->
    <%= link_to "Concept", root_path(anchor: 'concept'), class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Text link -->
    <%= link_to "Code", root_path(anchor: 'code'), class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Text link -->
    <%= link_to "Calanques", root_path(anchor: 'calanques'), class: "navbar-wagon-item navbar-wagon-link" %>

    <%= link_to "Profs", root_path(anchor: 'profs'), class: "navbar-wagon-item navbar-wagon-link" %>


    <!-- Button (call-to-action) -->
    <a href="#inscription" class="navbar-wagon-item navbar-wagon-button btn btn-cc btn-cc-white">Je postule</a>
  </div>


</div>
