<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(244,245,247,0.07) 0%, rgba(5,9,12,0.4) 50%), url('<%= asset_path "calanque_3.jpg" %>');">
  <div class="banner-content">


    <h1> <%= image_tag "logo_white.png", alt: "Code & Calanques", id: "logo-banner" %> </h1>
    <p>Une semaine pour apprendre à coder dans un cadre unique</p>
    <%= link_to "Je postule", new_candidate_path,  class: "btn   btn-cc btn-cc-white btn-lg " %>
  </div>
</div>


<!-- Le concept -->
<div class="padded-sm" id="concept">
  <div class="container">
    <h2><%= t 'calanque.concept' %></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p><%= simple_format t 'concept.description' %></p>
      </div>
    </div>
  </div>
</div>





<!-- Le code -->
<div class="padded-sm" id="code">

  <div class="container">
    <h2><%= t 'code.title' %></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
      <%= simple_format t 'code.description' %>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <%= link_to t('code.cta'), program_path, class: "btn btn-cc btn-cc-blue"%>
      </div>
    </div>
  </div>

</div>

<div class="section" id="calanques" style="height: 300px; background-size:cover; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0) 50%), url('<%= asset_path "calanque_5.jpg" %>');">

  </div>
</div>


<!-- Les calanques -->
<div class="padded" id="calanques">

  <div class="container">
    <h2><%= t 'calanque.title' %></h2>

    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <p><%= simple_format t 'calanque.description' %></p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <%= link_to t('code.cta'), program_path, class: "btn btn-cc btn-cc-blue"%>
      </div>
    </div>
  </div>

</div>



<!-- Les calanques -->



<!-- Le staff -->

<div class="padded" id="profs">
  <div class="container">
    <h2>Les Profs</h2>
    <div class="row">
      <% PROFS.each do |key, data| %>
        <div class="col-xs-12 col-sm-6 col-md-6">
        <%= render partial: 'card-prof', locals: {data: data} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Les prochaines sessions -->
<div id="sessions" class="padded">
  <div class="container">
    <h2> <%= t 'session.title' %></h2>
    <%= simple_format t 'session.description' %>
    <div class="row">
      <% @sessions.each do |session| %>
        <div class="col-xs-12 col-sm-6">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url(session.image) %>);">
              <div class="card-category"><%= "Du #{l(session.start_date, format: :short)} au #{l(session.end_date, format: :short)}" %></div>
              <div class="card-description">
                  <h2><%= "#{session.name} - #{session.price} €" %></h2>
                  <p><%= session.description %></p>
              </div>
              <%=link_to "", new_candidate_path({session: session}), class:"card-link" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>




<!-- Le Inscription -->
<div class="section-sm background-blue text-white" id='inscription'>
  <div class="container">
    <div class="row">
    <div class="text-center">
      <h2>Inscrivez-vous à notre newsletter</h2>
        <%= form_tag contacts_path, id:"subscribe-form", method: "post", remote: true, class: "form-inline"  do %>
        <div class="form-error">

        </div>
        <div class="form-group">
            <%= text_field_tag :email, nil, placeholder: "email", class: "input-lg form-control" %>
        </div>
        <%= submit_tag "Je m'inscris", class: "btn btn-cc btn-cc-white btn-lg" %>
      <% end %>

    </div>

    </div>
  </div>
</div>
