<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(244,245,247,0.07) 0%, rgba(5,9,12,0.4) 50%), url('<%= asset_path "calanque_3.jpg" %>');">
  <div class="banner-content">
    <!--
    <h1>Code & Calanques</h1>
     -->


    <h1> <%= image_tag "logo_white.png", width: "400px", alt: "Code & Calanque" %> </h1>
    <p>Une semaine pour apprendre à coder dans un cadre unique</p>
    <%= link_to "Je postule", root_path(anchor: "sessions"),  class: "btn btn-cc btn-cc-white btn-lg " %>
  </div>
</div>


<!-- Le concept -->
<div class="section-sm" id="concept">
  <div class="container">
    <h1>Le Concept</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>
          Apprenez à coder en seulement <strong>une semaine</strong>, dans le cadre unique des <strong>calanques</strong> marseillaises.
        </p>
          <p>Le jour nous <strong>codons</strong>, en fin de journée nous <strong>chillons</strong> dans les calanques</p>
          <p> <strong>Tout est compris</strong> le logement, les repas, les cours, le matériel.
          Prenez juste votre ordi et vos billets de train, nous nous occupons du reste</p>
      </div>
    </div>
  </div>
</div>

<div class="padded background-blue text-center">
  Le Wagon + Marseille = Code & Calanque
</div>

<!-- Le code -->
<div class="padded" id="code">

  <div class="container">
    <h2>Apprenez à Coder</h2>
    <div class="row">

      <div class="col-xs-12 col-sm-6">
         <p>L'objectif de la semaine est d'apprendre à coder un <strong>produit de A à Z </strong>.</p>
        <p>Que vous soyiez complétement débutant ou que vous ayez une petite expérience nous vous apprendrons les outils, les langages et le workflow des <strong>startups techniques</strong>.</p>
        <p>De la définition des <em> users stories </em> à leurs mises en production, le code n'aura <strong>plus de secret</strong> pour vous.</p>
        <p>Il n'y a pas de niveau minimum requis, mais des bases en HTML/CSS sont les bienvenues. Si ce n'est pas le cas nous vous enverrons des <strong>devoirs de vacances</strong> pour préparer la semaine ;)</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <%= link_to "Découvrir le programme", "#", class: "btn btn-cc btn-cc-blue"%>
      </div>
    </div>
  </div>

</div>

<div class="section" id="calanques" style="height: 300px; background-size:cover; background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0) 50%), url('<%= asset_path "calanque_5.jpg" %>');">

  </div>
</div>


<!-- Le code -->
<div class="padded" id="calanques">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6">
      <h2>Les Calanques</h2>
        <p>Découvrez les calanques d'une manière unique grâce à l'escalade, le kayac, des restaurants préservés et des balades. </p>
        <p>Pour l'escalade, que vous soyez débutants ou expérimentés nous vous fourniront le matériel. L'encadrement sera assuré par des professionnels pour en profiter en <strong>toute sécurité</strong>.</p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <%= link_to "Découvrir le programme", "#", class: "btn btn-cc btn-cc-blue"%>
      </div>
    </div>
  </div>

</div>



<!-- Les calanques -->



<!-- Le staff -->

<div class="padded" id="profs">
  <div class="container">
    <h2>Les Profs</h2>
    <div class="row">
      <% PROFS.each do |key, data| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
        <%= render partial: 'card-prof', locals: {data: data} %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Les prochaines sessions -->
<div id="sessions" class="padded">
  <div class="container">
    <h2>Les prochaines sessions</h2>
    <div class="row">
      <% SESSIONS.each do |session| %>
        <div class="col-xs-12 col-sm-6">

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url(session['image']) %>);">
              <div class="card-category"><%= session["name"] %></div>
              <div class="card-description">
                  <h2><%= session["date"] %></h2>
                  <p><%= session["description"] %></p>
              </div>
              <%=link_to "", "http://google.fr", class:"card-link" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>




<!-- Le Inscription -->
<div class="section-sm background-blue text-white" id='inscription'>
  <div class="container">
    <div class="row">
    <div class="text-center">
      <h2>Tenez-vous au courant !</h2>
      <p>Inscrivez-vous à notre newsletter</strong>.</p>
        <%= form_tag contacts_path, id:"subscribe-form", method: "post", remote: true, class: "form-inline"  do %>
        <div class="form-error">

        </div>
        <div class="form-group">
            <%= text_field_tag :email, nil, placeholder: "email", class: "input-lg form-control" %>
        </div>
        <%= submit_tag "Je m'inscris", class: "btn btn-cc btn-cc-white btn-lg" %>
      <% end %>

    </div>

    </div>
  </div>
</div>
