<div class="container padded">


  <h1> Postulez à Code & Calanques </h1>
 <p>Postulez dès maintenant pour réserver votre place</p>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-push-8 col-sm-4">
        <div class="card-message">
          <h3>Ce séjour comprend:</h3>
          <ul>
            <li><p>Le logement</p></li>
            <li><p>6 jours de cours</p></li>
            <li><p>30 heures de cours</p></li>
            <li><p>Les transports sur place</p></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-pull-4 col-sm-8">
        <%= simple_form_for(@candidate) do |f| %>
          <%= f.input :first_name, label: t('first_name') %>
          <%= f.input :last_name, label: t('last_name') %>
          <%= f.input :email, label: t('email') %>
          <%= f.association :session, include_blank: false %>
          <p><b>Prix : <%= @session.price %>   € TTC </b> </p>

          <%= f.submit 'Je postule', class: "btn btn-cc btn-cc-blue" %>
        <% end %>
      </div>

      </div>



      </div>
    </div>
  </div>



</div>
